body
{

    background-image: url(../image/background_inscription.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.box_header
{
    padding-top: 5%;
    margin: -2%;
    background-color: white;
    height: 45px;
}

.box_lien
{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 5%;
}

a
{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}

p
{
    font-family:'Ubuntu Condensed', sans-serif;
    font-size: large;
    color: white;
    
}

h1
{
   font-family: 'Rajdhani', sans-serif;
    color: white;
}

h2
{

    font-family: 'Yantramanav', sans-serif;
    color: white;
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_form
{
     
    
    box-shadow: black 10px 5px 5px ;
    border: solid 1px black; border-radius: 25px;
    width: 15%;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box2_form
{
    box-shadow:  3px 3px 5px white;
    
}

.box3_form
{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10%;
}

.bouton_valider
{
    background-color: rgba(65, 56, 56, 0.678);
    color: white;
    width: 40%;
    border-radius: 5px;
    font-family:'Courier New', Courier, monospace;
}


.main
{
    padding-top: 2%;
}